body {
  background-color: #f4f6f8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border-radius: px;
}

.output-box {
  background: #0f172a;
  color: #e5e7eb;           
  padding: 20px;
  border-radius: 10px;
  max-height: 350px;
  overflow-y: auto;
  font-size: 14px;
  white-space: pre-wrap;
  box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}
